<!-- <div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div> -->

<app-register-info></app-register-info>

<div class="register-form-container">
  <form>
    <div>
      <label for="name">Name</label>
      <input id="name" formControlName="name" />
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>
    <button type="submit">Register</button>
  </form>
</div>

<!-- <h1>registration works!</h1> -->
