<!-- <div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div> -->

<form>
  <div>
    <label for="name">Name</label>
    <input id="name" formControlName="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
  </div>
  <button type="submit">Register</button>
</form>

<!-- <h1>registration works!</h1> -->
