<section class="intro">
  <div class="container">
    <header class="intro-header">
      <h1>Elevate Your Business</h1>
    </header>
    <div class="intro-content">
      <figure class="intro-image">
        <img
          src="https://plus.unsplash.com/premium_photo-1676762448049-1e55c1d6690b?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Description of the image"
        />
        <figcaption>See the Impact of My Services</figcaption>
      </figure>
      <article class="intro-description">
        <p>
          Looking to take your business to the next level? I offer a
          comprehensive suite of products and services designed to help you
          achieve your goals. From [product/service 1] to [product/service 2],
          we have everything you need to succeed. Explore our website to learn
          more about how we can help you grow.
        </p>
      </article>
    </div>
  </div>
</section>
