<div id="home-wrapper">
  <section class="homepage-placeholder">
    <div class="container">
      <header class="placeholder-header">
        <h2>Welcome to my Firebase App</h2>
      </header>
      <div class="placeholder-content">
        <p>
          This app showcases some of my skills with Firebase, a powerful
          platform for creating web and mobile apps. Leveraging Firebase's free
          tier, I'm developing a flexible and packed app including secure
          logins, real-time updates, personalized profiles, and more. Stay tuned
          for updates and explore other cool
          <a
            href="https://gitlaws.github.io/PortfoliYOLO/projects"
            target="_blank"
            rel="noopener noreferrer"
            >projects</a
          >
          I've developed.
        </p>
        <ul>
          <li>
            <strong>Firebase Deployment:</strong> Easily deploy your app with
            Firebase's powerful hosting and real-time database capabilities.
          </li>
          <li>
            <strong>Authentication:</strong> Securely authenticate users with
            Firebase Authentication, supporting email/password, Google,
            Facebook, and more.
          </li>
          <li>
            <strong>Security:</strong> Protect your data with Firebase Security
            Rules, ensuring only authorized access to your resources.
          </li>
          <li>
            <strong>Real-time Database:</strong> Sync data in real-time across
            all clients with Firebase's real-time database.
          </li>
          <li>
            <strong>Cloud Firestore:</strong> Store and sync data at global
            scale with Cloud Firestore, Firebase's flexible, scalable database
            for mobile, web, and server development.
          </li>
          <li>
            <strong>Cloud Functions:</strong> Extend your app's functionality
            with serverless Cloud Functions, allowing you to run backend code in
            response to events triggered by Firebase features and HTTPS
            requests.
          </li>
          <li>
            <strong>Analytics:</strong> Gain insights into your app's usage with
            Firebase Analytics, helping you make informed decisions to improve
            user experience.
          </li>
        </ul>
      </div>
      <div class="getting-started">
        <h3>Getting Started</h3>
        <p>To get started with this app, follow these simple steps:</p>
        <ol>
          <li>
            <strong>Register:</strong> Click the <em>Register</em> button below
            to create a new account. You will receive an email to verify your
            account. Please check your inbox and follow the instructions to
            complete the registration process.
          </li>
          <li>
            <strong>Login:</strong> Once your account is verified, click the
            <em>Login</em> button to access your account. Enter your credentials
            to log in.
          </li>
          <li>
            <strong>Explore Your Profile:</strong> After logging in, navigate to
            your user profile. Here, you can update your personal information,
            manage your settings, and explore the features available to you.
          </li>
        </ol>
        <div id="button-wrapper">
          <a class="cta-button register-button" routerLink="/register"
            >Register</a
          >
          <a class="cta-button login-button" routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </section>
</div>
