<!-- <header class="header">
  <a routerLink="/home" class="header__logo" title="Home">
    <app-drone-logo></app-drone-logo>
  </a>
  <nav class="header__nav" aria-label="Main Navigation">
    <div class="nav__login-links" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="nav__login-link">Login</a>
      <a
        routerLink="/register"
        class="nav__login-link sign-up-background sign-up-link"
      >
        Sign Up
      </a>
    </div>
  </nav>
  <app-user-menu *ngIf="isLoggedIn" class="header__menu"></app-user-menu>
  <!-- <app-mobile-menu class="header__menu"></app-mobile-menu> -->
<!-- </header> -->
-->

<div class="header-container">
  <div class="header-item1">
    <a routerLink="/home" class="header__logo" title="Home">
      <app-drone-logo></app-drone-logo>
    </a>
  </div>
  <div class="header-item2">
    <nav class="header__nav" aria-label="Main Navigation">
      <div class="nav__login-links" *ngIf="!isLoggedIn">
        <a routerLink="/login" class="nav__login-link">Login</a>
        <a
          routerLink="/register"
          class="nav__login-link sign-up-background sign-up-link"
        >
          Sign Up
        </a>
      </div>
    </nav>
  </div>
  <div class="header-item3">
    <app-user-menu *ngIf="isLoggedIn" class="header__menu"></app-user-menu>
  </div>
</div>
