<header class="header">
  <a routerLink="/home" class="header__logo" title="Home">
    <!-- <app-ignite-logo></app-ignite-logo> -->
    <app-drone-logo></app-drone-logo>
  </a>

  <nav class="header__nav" aria-label="Main Navigation">
    <!-- Login Links -->
    <div class="nav__login-links">
      <a *ngIf="!isLoggedIn" routerLink="/login" class="nav__login-link">
        Login
      </a>

      <a
        *ngIf="!isLoggedIn"
        routerLink="/register"
        class="nav__login-link sign-up-background sign-up-link"
      >
        Sign Up
      </a>
    </div>
  </nav>

  <app-mobile-menu class="header__menu"></app-mobile-menu>
</header>
