<header class="header">
  <a routerLink="/home" class="header__logo" title="Home">
    <!-- <app-ignite-logo></app-ignite-logo> -->
    <app-drone-logo></app-drone-logo>
  </a>

  <nav class="header__nav" aria-label="Main Navigation">
    <!-- Login Links -->
    <div class="nav__login-links">
      <a *ngIf="!isLoggedIn" routerLink="/login" class="nav__login-link">
         Login
      </a>

      <a
        *ngIf="!isLoggedIn"
        routerLink="/register"
        class="nav__login-link sign-up-background sign-up-link"
      > Sign Up
    </a>
    <!-- <i class="fa-duotone fa-solid fa-user"></i> -->
    <!-- <i class="fa-solid fa-user-pen"></i> Sign Up -->

      <a *ngIf="isLoggedIn" routerLink="/profile" class="nav__login-link">
        <i class="fa-solid fa-user"></i> Profile
      </a>
      <a *ngIf="isLoggedIn" (click)="logout()" class="nav__login-link">
        <i class="fa-solid fa-power-off"></i> Logout
      </a>
    </div>
  </nav>

  <app-mobile-menu class="header__menu"></app-mobile-menu>
</header>
