@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

$social-links-bg-color-light: #f0f0f0;
$social-links-bg-color-dark: #333;
$social-links-border-color: #ccc;
$social-link-hover-color: #0056b3;
$social-link-hover-shadow: rgba(0, 0, 0, 0.5);

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  // background: transparent;
  // background: linear-gradient(to bottom, #1a1a1a, #5c5c5c, #c0c0c0);
  padding: 20px;
  @include theme-mode-transition;
  @include header-box-shadow(0, 4px, 6px, 0, hsla(0, 0%, 0%, 0.2));

  &.light {
    background-color: $lm-toolbar-background-color;
  }

  &.dark {
    background-color: $dm-toolbar-background-color;
  }
}

.header__menu {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav__item-link {
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;

  // @include shine-animation(54s, ease-in-out, infinite);
  // background: linear-gradient(
  //   90deg,
  //   transparent,
  //   #1a1a1a,
  //   #c0c0c0,
  //   transparent
  // );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;

  &.light {
    background-color: black;

    &:hover {
      background-color: gray;
    }
  }

  &.dark {
    background-color: white;

    &:hover {
      background-color: lightgray;
    }
  }
}

.nav__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px 0;

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;
  }

  i {
    font-size: 1em;

    &.light {
      color: #757575;

      &:hover {
        color: #616161;
        text-shadow: 0px 0px 5px #616161;
      }
    }

    &.dark {
      color: #888; // Lighter dark gray

      &:hover {
        color: #555; // Lighter medium gray
        text-shadow: 0px 0px 5px #555; // Lighter medium gray
      }
    }
  }

  a {
    font-size: 1.75em;
    transition: color 0.3s ease;
  }
}

@media (max-width: $tablet) {
  .header {
    justify-content: space-around;
    align-items: center;
  }

  .nav__theme-toggle {
    display: none;
  }

  .nav__social-links {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

@media (max-width: $mobile) {
  .header {
    justify-content: space-around;
    align-items: center;
  }

  .nav__theme-toggle {
    display: none;
  }

  .nav__social-links {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

@media (max-width: 120px) {
  .header {
    height: auto;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
  }
}
