/* Global Theme Mode Colors */
$lm-toolbar-background-color: #d3d3d3;
$dm-toolbar-background-color: #121212;

/* Toolbar Menu Colors */
$menu-toggle-color: #ffffff;
$menu-toggle-hover-color: #cccccc;
$menu-toggle-transition: all 0.3s ease;
$menu-bg-color: #333333;
$menu-hover-bg-color: #555555;
$menu-link-color: #ffffff;
$menu-link-hover-color: #000000;

/* Mobile Menu Colors */

$transition-effect: all 0.3s ease;

/* Home Comoponent */
$h2-type1-color: #e0e0e0;
$h2-type2-color: #e0e0e0;
$h2-type3-color: #e0e0e0;
