/* Global Theme Mode Colors */
$lm-toolbar-background-color: #d3d3d3;
$dm-toolbar-background-color: #121212;

/* Toolbar Menu Colors */
$menu-toggle-color: #ffffff;
$menu-toggle-hover-color: #cccccc;
$menu-toggle-transition: all 0.3s ease;
$menu-bg-color: #333333;
$menu-hover-bg-color: #555555;
$menu-link-color: #ffffff;
$menu-link-hover-color: #000000;

/* Theme Button Colors */
$theme-btn-icon: #f6b162;
$theme-btn-border: #2a2a2a;
$theme-btn-hover: #f1c40f;
$theme-btn-icon-container: #4a4a4a;
$theme-btn-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
$theme-btn-border-radius: 50%;

/* Cyber Menu Colors */
$cybermenu-bg-color: #333333;
$cybermenu-border-color: #2a2a2a;
$hover-color: #ff2079;
$transition-effect: all 0.3s ease;
$secondary-bg-color: #0f0f0f;
$hover-bg-color: #1a1a1a;
$highlight-color: #ff00ff;
$highlight-shadow: 0 0 5px $highlight-color, 0 0 10px $highlight-color,
  0 0 15px $highlight-color, 0 0 20px $highlight-color;
$white-color: rgba(255, 255, 255, 1);
$accent-color: #ff00ff;
$dark-color: rgba(60, 60, 60, 1);
$warning-color: #ffff00;
$black-color: rgba(33, 33, 33, 1);

/* Home Comoponent */
$h2-type1-color: #e0e0e0;
$h2-type2-color: #e0e0e0;
$h2-type3-color: #e0e0e0;

/* Projects Component */
$card-bg-color-light: #ffffff;
$card-bg-color-dark: #121212;
