@import "./_colors.scss";

/* Box-shadow */
@mixin box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Theme Mode Transition */

@mixin theme-mode-transition {
  transition: background-color 0.3s ease;
}

/* Header Box-shadow */
@mixin header-box-shadow($h-offset, $v-offset, $blur, $spread, $color) {
  box-shadow: $h-offset $v-offset $blur $spread $color;
}

/* Toolbar Mixins */
@mixin shine-animation($duration, $timing-function, $iteration) {
  @keyframes shine {
    0%,
    100% {
      background-position: -200px;
    }
    50% {
      background-position: calc(200px + 100%);
    }
  }

  animation: shine $duration $timing-function $iteration;
}

/* Theme Toggle Mixins */
@mixin spin-animation {
  animation: spin 0.5s ease-in-out 5;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

/* Cube Logo Mixins */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cyber Menu Mixins */
@mixin glow-animation($duration, $iteration) {
  @keyframes glow {
    0% {
      stroke: #00bfff; /* Start with a complementary blue color */
    }
    50% {
      stroke: #32cd32; /* Transition to a complementary green color */
    }
    100% {
      stroke: #00bfff; /* Return to the complementary blue color */
    }
  }

  animation: glow $duration $iteration;
}

@mixin fadeInDown-animation($duration, $timing-function, $fill-mode) {
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: fadeInDown $duration $timing-function $fill-mode;
}

@mixin fadeInUp-animation {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Profile TabNav Mixins */

@mixin gradient-animation($duration, $timing-function, $iteration) {
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  animation: Gradient $duration $timing-function $iteration;
}

/* Footer, Mixins */
@mixin pulse-animation($duration, $iteration) {
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  animation: pulse $duration $iteration;
}

@mixin gradient-animation($duration, $timing-function, $iteration) {
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  animation: Gradient $duration $timing-function $iteration;
}
