<div id="profile-wrapper">
  <div class="profile-container" *ngIf="user">
    <h1 class="welcome-message">Welcome, {{ user.displayName }}!</h1>
    <p class="intro-text">
      Welcome to your profile page. Here you can update your display name and
      profile photo. Make sure to save your changes by clicking the
      <strong>"Update Profile"</strong> button.
    </p>
    <p class="intro-text">
      If you wish to log out, you can do so by clicking the
      <strong>"Logout"</strong> button below.
    </p>
    <h2 class="profile-heading">Profile</h2>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="profileCompletion"></div>
    </div>
    <div class="profile-content">
      <div class="left-column">
        <div class="profile-photo-container">
          <div class="profile-photo-wrapper">
            <img
              [src]="user.photoURL || 'https://via.placeholder.com/150'"
              alt="Profile Photo"
              class="profile-photo"
            />
            <div class="overlay" (click)="removePhoto()">Remove Photo</div>
          </div>
        </div>
        <!-- Bio Information -->
        <div class="bio-container">
          <h3 class="profile-subheading">Bio</h3>
          <p>{{ user.bio || "No bio available" }}</p>
        </div>
      </div>
      <div class="right-column">
        <form (ngSubmit)="onUpdateProfile()" class="profile-form">
          <label for="displayName">Display Name:</label>
          <input
            type="text"
            id="displayName"
            [(ngModel)]="tempDisplayName"
            name="displayName"
            title="Enter your display name"
            placeholder="Display Name"
            (ngModelChange)="onFieldChange()"
            (input)="validateField('displayName')"
            required
          />
          <label for="photoURL">Photo URL:</label>
          <input
            type="text"
            id="photoURL"
            [(ngModel)]="tempPhotoURL"
            name="photoURL"
            title="Enter the URL of your profile photo"
            placeholder="Paste Photo URL"
            (ngModelChange)="onFieldChange()"
            (input)="validateField('photoURL')"
            required
          />
          <label for="bio">Bio:</label>
          <textarea
            id="bio"
            [(ngModel)]="tempBio"
            name="bio"
            title="Enter a short bio"
            placeholder="Write a short bio"
          ></textarea>
          <div class="button-container">
            <button type="submit" [disabled]="disabled">Update Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-snackbar></app-snackbar>
</div>
