// Color Variables
$base-color: #0d1117;
$text-color: #c9d1d9;
$secondary-text-color: #8b949e;
$accent-color: #1f6feb;
$border-color: #30363d;
$highlight-color: #1f6feb;
$link-color: #58a6ff;
$link-hover-color: #79c0ff;
$background-secondary-color: #161b22;
$shadow-color: rgba(0, 0, 0, 0.5);
$gradient-start: #0d1117;
$gradient-end: #161b22;
$input-background-color: #0d1117; // Background color for input fields

.button-container {
  margin-top: 10px;
}
// Profile Wrapper
#profile-wrapper {
  font-family: "Roboto", "Arial";
  color: $text-color;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-size: cover;
  background-position: center;

  @media (max-width: 400px) {
    padding: 0 15px;
  }

  .profile-container {
    background-color: $background-secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    max-width: 100%;
    margin: 1.5rem auto;
    box-shadow: 0 0.5rem 1rem $shadow-color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 1rem 2rem $shadow-color;
    }

    @media (min-width: 768px) {
      padding: 2.5rem;
      max-width: 800px;
    }

    @media (max-width: 320px) {
      padding: 1rem;
    }

    .welcome-message {
      font-size: 2em;
      font-weight: bold;
      color: $highlight-color;
      text-shadow: 2px 2px 4px $shadow-color;
      margin-bottom: 20px;
      align-self: flex-start;

      @media (max-width: 768px) {
        font-size: 1.8em;
      }

      @media (max-width: 480px) {
        font-size: 1.6em;
      }
    }

    .profile-heading {
      font-size: 1.6em;
      margin-top: 30px;
      color: $accent-color;
      text-align: left;
      align-self: flex-start;

      @media (max-width: 768px) {
        font-size: 1.4em;
      }

      @media (max-width: 480px) {
        font-size: 1.2em;
      }
    }

    .progress-bar {
      width: 100%;
      height: 10px;
      background-color: $border-color;
      border-radius: 5px;
      margin-bottom: 20px;
      overflow: hidden;

      .progress {
        height: 100%;
        background-color: $accent-color;
        transition: width 0.3s ease;
      }
    }

    .profile-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .left-column,
    .right-column {
      flex: 1;
      padding: 1rem;

      @media (max-width: 768px) {
        padding: 0;
      }
    }

    .profile-photo-container {
      text-align: center;
      margin-bottom: 30px;
      width: 150px; /* Adjust as needed */
      height: 150px; /* Adjust as needed */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      background-color: $accent-color;
      border-radius: 50%;
      box-shadow: 0 0 10px $shadow-color;
    }

    .profile-photo-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid $background-secondary-color;
      box-shadow: 0 0 20px $shadow-color;
      transition: transform 0.3s ease;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s;
      cursor: pointer;
      border-radius: 50%;
    }

    .profile-photo-wrapper:hover .overlay {
      opacity: 1;
    }

    input[type="file"] {
      margin-top: 10px;
    }

    button {
      background-color: $accent-color;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }
  }
}

// Intro Text
.intro-text {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: $secondary-text-color;

  @media (max-width: 768px) {
    font-size: 1.1em;
  }

  @media (max-width: 480px) {
    font-size: 1em;
  }
}

// Profile Form
.profile-form {
  label {
    display: block;
    margin-top: 20px;
    color: $accent-color;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid $border-color;
    background-color: $input-background-color; // Set background color for input fields
    color: $text-color;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $accent-color;
      outline: none;
    }

    &::placeholder {
      color: $secondary-text-color; // Style placeholder text color
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $input-background-color inset; // Set background color for autofill
      -webkit-text-fill-color: $text-color; // Set text color for autofill
    }
  }
  line-height: 1.8;
}

// Button Container
.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;

  button {
    background-color: $accent-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}

// Media Queries
@media (max-width: 768px) {
  #profile-wrapper .profile-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  #profile-wrapper .profile-photo-container {
    margin-bottom: 20px;
  }

  #profile-wrapper .button-container {
    flex-direction: column;
  }
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $link-hover-color;
  }
}

// Profile Container
.profile-container {
  app-update-button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
