<button
  *ngIf="isLoggedIn"
  class="dropdown-toggle"
  aria-label="Menu"
  (click)="toggleMenu($event)"
>
  <img
    [src]="user.photoURL || 'https://via.placeholder.com/40'"
    alt="Profile Photo"
    class="profile-photo"
  />
</button>
<div *ngIf="isMenuOpen" class="dropdown-content">
  <a routerLink="/profile" class="nav__login-link">
    <i class="fa-solid fa-user"></i> Profile
  </a>
  <a (click)="logout()" class="nav__login-link">
    <i class="fa-solid fa-power-off"></i> Logout
  </a>
</div>
