<div class="dropdown-container">
  <button
    *ngIf="isLoggedIn"
    class="dropdown-toggle"
    aria-label="Menu"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <img
      [src]="user.photoURL || 'https://via.placeholder.com/40'"
      alt="Profile Photo"
      class="profile-photo"
    />
  </button>
  <ul
    *ngIf="isMenuOpen"
    class="dropdown-menu"
    (click)="$event.stopPropagation()"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
  >
    <li class="dropdown-item" *ngIf="isLoggedIn">
      <a routerLink="/profile">Settings</a>
    </li>
    <li class="dropdown-item" *ngIf="isLoggedIn">
      <a (click)="logout()">Logout</a>
    </li>
    <!-- <li class="dropdown-item-social-links">
    <a
      href="https://www.linkedin.com"
      target="_blank"
      rel="noopener"
      class="footer-icon"
      aria-label="LinkedIn"
      (click)="
        openLink(
          $event,
          'https://www.linkedin.com/in/stanislaw-wasilewski-1bba55273/'
        )
      "
    >
      <i class="fab fa-linkedin"></i>
    </a>
    <a
      href="https://github.com"
      target="_blank"
      rel="noopener"
      class="footer-icon"
      aria-label="GitHub"
      (click)="openLink($event, 'https://github.com/gitlaws')"
    >
      <i class="fab fa-github"></i>
    </a>
    <a
      href="https://www.youtube.com"
      target="_blank"
      rel="noopener"
      class="footer-icon"
      aria-label="YouTube"
      (click)="openLink($event, 'https://www.youtube.com/@sm.w/streams')"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      href="https://discord.com"
      target="_blank"
      rel="noopener"
      class="footer-icon"
      aria-label="Discord"
      (click)="openLink($event, 'https://discord.com')"
    >
      <i class="fab fa-discord"></i>
    </a>
  </li> -->
  </ul>
</div>
