$background-color: #0d1117;
$text-color: #c9d1d9;
$header-color: #58a6ff;
$link-color: #58a6ff;
$link-hover-color: lighten($link-color, 10%);
$spacing: 16px;
$spacing-lg: 24px; // Larger spacing for larger screens
$font-size-base: 1rem;
$font-size-lg: 1.25rem; // Larger font size for larger screens
$transition-duration: 0.3s;



.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing;
  background-color: $background-color;
  color: $text-color;
  text-align: center;
  padding: $spacing;
  border-radius: 10px;
  transition: box-shadow $transition-duration;

  header {
    margin-bottom: $spacing;

    h1 {
      color: $header-color;
      font-size: 2rem;
      margin: 0;
      transition: color $transition-duration;
    }
  }

  p {
    font-size: $font-size-base;
    margin: 0;
    line-height: 1.5;

    a {
      color: $link-color;
      text-decoration: none;
      transition: color $transition-duration,
        text-decoration $transition-duration;

      &:hover {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }

  .forgot-password {
    margin-top: $spacing;
    font-size: $font-size-base;

    a {
      color: $link-color;
      text-decoration: none;
      transition: color $transition-duration,
        text-decoration $transition-duration;

      &:hover {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }

  // Media queries for responsiveness
  @media (min-width: 768px) {
    padding: $spacing-lg;

    header {
      margin-bottom: $spacing-lg;

      h1 {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: $font-size-lg;
    }

    .forgot-password {
      margin-top: $spacing-lg;
      font-size: $font-size-lg;
    }
  }
}
