<div class="register-info">
  <h2>Welcome to Our Registration Page</h2>
  <p>
    Please use the registration form to create a new account. Fill in all the
    required fields and submit the form to get started.
  </p>

  <p class="note">
    Note: Due to recent changes in Firebase's multi-factored SMS authentication
    features, I've opted to include push notifications for email verification
    instead of SMS. This change helps prevent unauthorized account creation and
    ensures a fair experience for me integrating free authentication features
    from firebase. Push notifications offer a reliable way to verify your
    identity. You'll receive a prompt notification by email and in app, ensuring
    access to your account without me incurring any charges.
  </p>
  <p>
    If you already have an account, please <a href="/login">log in here</a>.
  </p>
</div>
