@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

button {
  position: fixed;
  z-index: 5;
  right: 3%;
  bottom: 3%;
  border: none;
  background: linear-gradient(
    135deg,
    #f66a0a,
    #ff8c00
  ); /* Dynamic color gradient */
  transition: all 0.3s;
  height: 0;
  width: 0;
  visibility: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Adjusted shadow color, opacity, and blur radius */
  border-radius: 10px; /* Slight border radius for a modern look */
  outline: none;
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  transform: scale(1); /* Initial scale */

  &.is-shown {
    height: 50px;
    width: 50px;
    visibility: visible;
  }

  &:hover {
    background: linear-gradient(
      135deg,
      #ff8c00,
      #f66a0a
    ); /* Reverse gradient on hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* More pronounced shadow on hover */
    transform: scale(1.1); /* Slightly increase size on hover */
  }

  i {
    color: black;
    font-size: 0;
    padding-right: 2px;
    transition: font-size 0.3s; /* Smooth transition for font size */

    &.is-shown {
      font-size: 20px;
    }
  }
}

// .shopping-cart-button {
//   position: fixed;
//   bottom: 10px; /* Change from top to bottom */
//   right: 10px;
//   z-index: 1000;
//   background-color: #007bff;
//   border: none;
//   border-radius: 50%;
//   color: white;
//   padding: 10px;
//   font-size: 24px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
//   outline: none;

//   &:hover {
//     background-color: #0056b3;
//   }

//   .item-count {
//     position: absolute;
//     top: -5px;
//     right: -5px;
//     background-color: red;
//     color: white;
//     border-radius: 50%;
//     padding: 5px;
//     font-size: 14px;
//     min-width: 20px;
//     text-align: center;
//   }
// }
