/* You can add global styles to this file, and also import other style files */
/* Import _PartialStyles */
@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";
@import "./styles/_colors.scss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #161b22; /* Dark background color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #30363d; /* Darker thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #484f58; /* Slightly lighter on hover */
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #30363d #161b22; /* Thumb color and track color */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #0d1117;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

i {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  padding: 10px;
}
